
@font-face {
	font-family:'Royal Serif';
	src:	url('RoyalSerif-Thin.eot');
	src:	url('RoyalSerif-Thin.eot?#iefix') format('embedded-opentype'),
			url('RoyalSerif-Thin.woff2') format('woff2'),
			url('RoyalSerif-Thin.woff') format('woff');
	font-weight: 250;
	font-style: normal;
}


@font-face {
	font-family:'Royal Serif';
	src:	url('RoyalSerif-Light.eot');
	src:	url('RoyalSerif-Light.eot?#iefix') format('embedded-opentype'),
			url('RoyalSerif-Light.woff2') format('woff2'),
			url('RoyalSerif-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family:'Royal Serif';
	src:	url('RoyalSerif-Regular.eot');
	src:	url('RoyalSerif-Regular.eot?#iefix') format('embedded-opentype'),
			url('RoyalSerif-Regular.woff2') format('woff2'),
			url('RoyalSerif-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family:'Royal Serif';
	src:	url('RoyalSerif-Bold.eot');
	src:	url('RoyalSerif-Bold.eot?#iefix') format('embedded-opentype'),
			url('RoyalSerif-Bold.woff2') format('woff2'),
			url('RoyalSerif-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family:'Royal Serif';
	src:	url('RoyalSerif-ThinItalic.eot');
	src:	url('RoyalSerif-ThinItalic.eot?#iefix') format('embedded-opentype'),
			url('RoyalSerif-ThinItalic.woff2') format('woff2'),
			url('RoyalSerif-ThinItalic.woff') format('woff');
	font-weight: 250;
	font-style: normal;
}


@font-face {
	font-family:'Royal Serif';
	src:	url('RoyalSerif-LightItalic.eot');
	src:	url('RoyalSerif-LightItalic.eot?#iefix') format('embedded-opentype'),
			url('RoyalSerif-LightItalic.woff2') format('woff2'),
			url('RoyalSerif-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family:'Royal Serif';
	src:	url('RoyalSerif-Italic.eot');
	src:	url('RoyalSerif-Italic.eot?#iefix') format('embedded-opentype'),
			url('RoyalSerif-Italic.woff2') format('woff2'),
			url('RoyalSerif-Italic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family:'Royal Serif';
	src:	url('RoyalSerif-BoldItalic.eot');
	src:	url('RoyalSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
			url('RoyalSerif-BoldItalic.woff2') format('woff2'),
			url('RoyalSerif-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
