
@font-face {
	font-family:'Royal Serif Brand';
	src:	url('RoyalSerifBrand-Thin.eot');
	src:	url('RoyalSerifBrand-Thin.eot?#iefix') format('embedded-opentype'),
			url('RoyalSerifBrand-Thin.woff2') format('woff2'),
			url('RoyalSerifBrand-Thin.woff') format('woff');
	font-weight: 250;
	font-style: normal;
}


@font-face {
	font-family:'Royal Serif Brand';
	src:	url('RoyalSerifBrand-Light.eot');
	src:	url('RoyalSerifBrand-Light.eot?#iefix') format('embedded-opentype'),
			url('RoyalSerifBrand-Light.woff2') format('woff2'),
			url('RoyalSerifBrand-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family:'Royal Serif Brand';
	src:	url('RoyalSerifBrand-Regular.eot');
	src:	url('RoyalSerifBrand-Regular.eot?#iefix') format('embedded-opentype'),
			url('RoyalSerifBrand-Regular.woff2') format('woff2'),
			url('RoyalSerifBrand-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family:'Royal Serif Brand';
	src:	url('RoyalSerifBrand-Bold.eot');
	src:	url('RoyalSerifBrand-Bold.eot?#iefix') format('embedded-opentype'),
			url('RoyalSerifBrand-Bold.woff2') format('woff2'),
			url('RoyalSerifBrand-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family:'Royal Serif Brand';
	src:	url('RoyalSerifBrand-ThinItalic.eot');
	src:	url('RoyalSerifBrand-ThinItalic.eot?#iefix') format('embedded-opentype'),
			url('RoyalSerifBrand-ThinItalic.woff2') format('woff2'),
			url('RoyalSerifBrand-ThinItalic.woff') format('woff');
	font-weight: 250;
	font-style: normal;
}


@font-face {
	font-family:'Royal Serif Brand';
	src:	url('RoyalSerifBrand-LightItalic.eot');
	src:	url('RoyalSerifBrand-LightItalic.eot?#iefix') format('embedded-opentype'),
			url('RoyalSerifBrand-LightItalic.woff2') format('woff2'),
			url('RoyalSerifBrand-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family:'Royal Serif Brand';
	src:	url('RoyalSerifBrand-Italic.eot');
	src:	url('RoyalSerifBrand-Italic.eot?#iefix') format('embedded-opentype'),
			url('RoyalSerifBrand-Italic.woff2') format('woff2'),
			url('RoyalSerifBrand-Italic.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family:'Royal Serif Brand';
	src:	url('RoyalSerifBrand-BoldItalic.eot');
	src:	url('RoyalSerifBrand-BoldItalic.eot?#iefix') format('embedded-opentype'),
			url('RoyalSerifBrand-BoldItalic.woff2') format('woff2'),
			url('RoyalSerifBrand-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
